.userAvatar {
    max-height: 100px;
    max-width: 100px;
}

.selectedPage {
    font-weight: bold;
}

.pagination {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.pageItem {
    margin: 5px 10px;
}