@use '../../scss/variables' as vars;

.header {
    height: 50px;
}

.headerTop {
    box-shadow: 0 1px 20px 0 rgba(85, 85, 85, 0.25);
    background-color: vars.$second_bg;
}

.headerLogo {
    display: inline-block;
    width: 70px;
    height: 50px;
}

.profileSettingBox {
    position: relative;

    .profileTrigger {
        width: 40px;
        height: 40px;
        border-radius: 100%;
        position: relative;
        border: none;
    }

    .smallUserAvatar {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 100%;
        object-fit: cover;
        object-position: 50% 50%;
        overflow: hidden;
        text-indent: 100%;
    }

    .profileDropdown {
        top: 100%;
        right: 0;
        width: 250px;
        background-color: vars.$second_bg;
        position: absolute;
        z-index: 1;
        border-radius: 0 0 2px 2px;
        box-shadow: vars.$box-shadow2;
    }

    .profileHead {
        padding: 20px;

        a {
            display: block;
        }

        .userName {
            font-size: 16px;
            font-weight: 500;
            line-height: 1;
            color: vars.$text_color;
            margin-bottom: .5rem;

            &:hover {
                color: vars.$text_accent_color;
            }
        }

        .userMail {
            font-size: 13px;
            color: vars.$text_muted_color;

            &:hover {
                color: vars.$text_accent_color;
            }
        }
    }

    .profileBody {
        ul {
            padding: 20px 0;
            border-top: 1px solid vars.$border_color;

            li {
                line-height: 1;
                margin-bottom: 15px;

                &:last-child {
                    margin-bottom: 0;
                }

                a {
                    color: vars.$text_muted_color;
                    padding: 0 20px;
                    display: block;

                    i {
                        font-size: 16px;
                        padding-right: 8px;
                    }
                }

                &:hover {
                    a {
                        color: vars.$text_accent_color;
                    }
                }
            }
        }
    }

    .btnLogout {
        color: vars.$text_muted_color;
        padding: 0 20px;
        border: none;
        background: none;
        display: block;
        width: 100%;
        text-align: left;

        &:hover {
            color: vars.$text_accent_color;
        }
    }
}


.sticky {
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    z-index: 9;
    box-shadow: vars.$box-shadow;
}