@use '../../scss/variables' as vars;

.mainNav {
    background-color: vars.$second_bg;
    padding-top: 10px;
    padding-bottom: 10px;

    @media (max-width: 767px) {
        padding-top: 60px;
    }
}

.menu {
    margin-bottom: 0;
    display: flex;
    align-items: center;
}

.item {
    display: block;
    color: vars.$text_color;
    margin-left: auto;
    margin-right: auto;
    padding: 1.25rem 0;

    @media (max-width: 767px) {
        padding-top: .625rem;
        padding-bottom: .625rem;
    }

    &:hover {
        color: vars.$text_accent_color;
    }
}

.item.activeLink {
    color: #5A9D2C;
}

