@use '../../scss/variables' as vars;

.mainNav {
    background-color: vars.$second_bg;
    padding-top: 10px;
    padding-bottom: 10px;
}

.menu {
    margin-bottom: 0;
    display: flex;
    align-items: center;
}

.item {
    display: block;
    color: vars.$text_color;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 0;

    &:hover {
        color: vars.$text_accent_color;
    }
}

.item.activeLink {
    color: #5A9D2C;
}

