@use '../../scss/variables' as vars;

.newsTitle {
  display: flex;
  align-items: center;
}

.newsMeta {
  display: flex;
  align-items: center;
  border-top: 1px solid vars.$border_color;
  padding-top: 1rem;
  margin-top: 1rem;
  width: 100%;
}