/*my color scheme*/
/*https://javier.xyz/cohesive-colors/?src=ebf5ed,cfe1c9,aec5a9,5a9d2c,003101&overlay=FF9C00&intensity=0*/

img {
    max-width: 100%;
}

.app-wrapper {
    display: grid;
    grid-template-areas:
    "header header"
    "nav content";
    grid-template-rows: 60px 1fr;
    grid-template-columns: 20% 1fr;
    min-height: 100vh;
    background-color: #EBF5ED;
    max-width: 1400px;
    margin: 0 auto;
}

.app-wrapper-content {
    grid-area: content;
}
