/*my color scheme*/
/*https://javier.xyz/cohesive-colors/?src=ebf5ed,cfe1c9,aec5a9,5a9d2c,003101&overlay=FF9C00&intensity=0*/
//@use  "~bootstrap/scss/variables" as *;
//@use  "~bootstrap/scss/mixins/buttons" as mixinButtons;
//@use  "~bootstrap/scss/buttons" as buttons;
@use './scss/variables' as vars;
@use './index.scss';

.headerMain {
    position: relative;
}

.headerTopMain {
    min-height: 300px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}

.userAvatarBigBox {
    position: absolute;
    left: 50%;
    transform: translate(-50%,0);
    bottom: 0;
    text-align: center;
    max-width: 200px;
    z-index: 4;
}

.userAvatarBig {
    border-radius: 100%;
    border: 6px solid vars.$second_bg;
    margin: 0 auto 15px;
    overflow: hidden;
    display: block;
    width: 132px;
    height: 132px;
    position: relative;
}

.userAvatarSmall {
    width: 40px;
    min-width: 40px;
    height: 40px;
    display: block;
    border-radius: 100%;
    position: relative;
}

.userAvatarImg {
    border-radius: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%
}

.content {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
}

.card.cardItem {
    border: none;
    box-shadow: vars.$box_shadow2;
    padding: 1.25rem;
}

.titleInfo {
    position: relative;
    padding-bottom: 1rem;
    margin-bottom: 1.25rem;
    
    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 0;
        border-bottom: 1px solid vars.$border_color;
    }
}

%btnCustom {
    background-color: vars.$custom_bg;
    color: vars.$text_second_color;

    &:hover {
        color: vars.$text_color;
    }

    .btn-check:focus + &,
    &:focus {
        outline: 0;
        box-shadow: 0 0 0 .25rem vars.$green_custom_035;
    }

    .btn-check:checked + &,
    .btn-check:active + &,
    &:active,
    &.active {
        box-shadow: inset 0 3px 5px rgba(vars.$black, .125);

        &:focus {
            box-shadow: 0 0 0 .25rem vars.$green_custom_035, inset 0 3px 5px rgba(vars.$black, .125);
        }
    }

    &:disabled,
    &.disabled,
    fieldset:disabled & {
        pointer-events: none;
        opacity: .65;
        box-shadow: none;
    }
}



.btnCustom {
    @include index.button-variant(vars.$custom_bg, vars.$border_accent_color, vars.$text_second_color, $hover-color: vars.$text_second_color);
}

.btnOutlineCustom {
    @include index.button-outline-variant(vars.$custom_bg, vars.$text_second_color);
}

.chooseFile {
    @include index.button-variant(vars.$custom_bg, vars.$border_accent_color, vars.$text_second_color, $hover-color: vars.$text_second_color);
    cursor: pointer;

    input[type="file"] {
        display: none;
    }
}

.btnText {
    color: vars.$custom_bg;
    padding: 0;

    &:hover {
        color: vars.$custom_dark_bg;
    }
}


.titleBox {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    h4 {
        margin-bottom: 0;
    }

    .btn {
        margin-left: auto;
    }
}

.form-check-input {
    background-color: vars.$second_bg;
    border: 1px solid vars.$border_color;

    &:focus {
        border-color: vars.$border_accent_color;
        box-shadow: vars.$box-shadow3;
    }

    &:checked {
        background-color: vars.$custom_bg;
        border-color: vars.$border_accent_color;
    }
}

.page-item.active {
    .page-link {
        color: vars.$text_second_color;
        background-color: vars.$custom_bg;
        border-color: vars.$border_accent_color;
    }
}

.page-link {
    color: vars.$text_accent_color;
    background-color: vars.$second_bg;
    border: 1px solid vars.$border_color;

    &:hover {
        color: vars.$text_second_color;
        background-color: vars.$custom_bg;
        border-color: vars.$border_accent_color;
        cursor: pointer;
    }

    &:focus {
        color: vars.$text_accent_color;
        background-color: vars.$main_bg;
        box-shadow: vars.$box-shadow3;
    }

    &.active {
        color: vars.$text_second_color;
        background-color: vars.$custom_bg;
        border-color: vars.$border_accent_color;
    }
}

.userItemBox {
    display: flex;
    align-items: center;
    background-color: vars.$second_bg;
}

.userInfo {
    margin-left: 1.25rem;
}

.userName {
    display: block;
    color: vars.$text_color;
    font-weight: bold;

    &:hover {
        color: vars.$text_accent_color;
    }
}
