$white: #fff;
$white_tr_05: rgba(255, 255, 255, .5);
$white_tr_08: rgba(255, 255, 255, .8);
$lightest_green: #ebf5ed;
$lightest_green_tr_02: rgba(235, 245, 237, .02);
$lighter_green: #cfe1c9;
$light_green: #aec5a9;
$light_green_tr_02: rgba(174, 197, 169, .9);
$green_custom: #5a9d2c;
$green_custom_tr: rgba(90, 157, 44, .8);
$green_custom_035: lighten(#5a9d2c, 35%);
$dark_green: #003101;
$lighter_grey: #ddd;
$light_grey: #666;
$grey_tr: rgba(85, 85, 85, 0.25);
$dark_grey: #333;
$black: #333;


$body_bg: $lightest_green;
$main_bg: $lightest_green;
$main_bg_tr: $lightest_green_tr_02;
$second_bg: $white;
$second_bg_tr: $white_tr_05;
$third_bg: $light_green;
$third_bg_tr: $light_green_tr_02;
$custom_bg: $green_custom;
$custom_dark_bg: $dark_green;
$tr_bg: transparent;

$text_color: $black;
$text_second_color: $white;
$text_accent_color: $green_custom;
$text_muted_color: $light_grey;

$border_color: $lighter_green;
$border_accent_color: $green_custom;

$box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.2);
$box-shadow2: 0 1px 15px 0 rgba(51, 51, 51, 0.2);
$box-shadow3: 0 0 0 .25rem $green_custom_035;
$box-shadow4: 0 0 0 2px $green_custom_tr;
$box-shadow5: 0 1px 5px 0px rgba(51, 51, 51, 0.2);
$box-shadow6: 0 0 .6rem rgba(90, 157, 44, .6);




@mixin boxShadow($colorShadow) {
  box-shadow: 0 0 8px 1px $colorShadow;
}

