@use '../../scss/variables' as vars;
@use '../../index.scss';

.dialogs {
    display: flex;
}

.dialogsUsers {
    flex-basis: 20%;
    max-width: 100px;
}

.dialogsItem {
    display: flex;
    align-items: center;
    height: 100px;
    margin-top: .5rem;
    margin-bottom: .5rem;
    padding-left: .625rem;
}

.userItem {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90%;
    align-items: center;
    color: #000;
    text-decoration: none;
    opacity: .7;

    &:hover {
        color: vars.$text_accent_color;
        opacity: 1;
        font-weight: bold;
    }
}

.activeLink {
    color: vars.$text_accent_color;
    text-align: center;
    opacity: 1;
    font-weight: bold;

    img {
        transform: scale(1.3, 1.3);
        box-shadow: vars.$box-shadow4;
    }
}

.avatar {
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

.messagesBox {
    flex-grow: 1;
    flex-basis: 70%;
    border: 1px solid vars.$border_color;
    border-radius: index.$border-radius;
    padding: 1rem;
}

.messages {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.messagesItem {
    color: #fff;
    background-color: #AEC5A9;
    border-radius: 5px;
    padding: 10px;
    margin-top: 1px;
    margin-bottom: 1px;
    display: inline-block;
}

.messagesItem:nth-child(odd) {
    align-self: flex-end;
}

.createMessage {
    width: 100%;
}
